body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  margin-bottom: 20px;
  text-align: right;
}

.header a {
  margin-right: 10px;
}

.header img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  vertical-align: middle;
}

.messages {
  margin-top: 20px;
}

.message {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
}

.message h3 {
  margin: 0;
}

.message p {
  margin: 0;
}

.message form {
  display: inline;
  margin-right: 5px;
}

.message input[type="submit"] {
  padding: 5px 10px;
}

.message input[type="hidden"] {
  display: none;
}

.message input[type="submit"]:hover {
  background-color: #ccc;
}

.new {
  display: flex;
  justify-content: center;
  color: green;
  text-decoration: none;
}

a.new:hover {
  color: blue;
  text-decoration: none;
}

.gray {
	COLOR: #818a89;
  padding-top: 20px;
}
